<div>
    <label>Recipe Name:</label>
    <input type="text" placeholder="Recipe Name" name="recipe name" /> <br>
    <label>Ingredients list:</label>
    <input type="text" placeholder="1/4c flour" name="ingredients" ng-bind="recipeDirect.ingredient" /> <br>
    <label>Directions</label>
    <input type="text" placeholder="List out directions here" name="directions"> <br>
    <button ng-click="recipeDirect.addIngredient(recipeDirect.ingredient)">Submit</button>
</div>
<div ng-repeat = "recipes in recipeDirect.recipe">
    <h4><b>{{recipes.name}}</b></h4>
    <p>{{recipes.ingredients}}</p>
    <p>{{recipes.directions}}</p>
    <button type="submit" ng-click="recipes.changeAddToMenu()">Add to Menu</button>
    <section ng-show="recipes.addToMenu">
        <form>
            <input type="date">
            <input type="checkbox">Breakfast
            <input type="checkbox">Lunch
            <input type="checkbox">Dinner
            <input type="checkbox">Snack
            <button type="submit">Submit</button>
        </form>
    </section>
</div>